body {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

div {
    padding: 5%;
    margin-top: -20px;
    }

h3, h1 {
    background-color: rgba(91, 160, 108, 0.60);
    padding-left: 2%;
    
}

h1 {
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
}
#h1-header {
    background-color: none;
    text-align: left;
}
article {
    background-color: rgb(167, 224, 189);
       
}

p {
    padding-left: 3%;
    padding-bottom: 1%;
}

footer, header {
    margin: 1%;
    padding: 5%;
    background-color: rgb(152, 223, 173);
    text-align: center;
}

footer {
    margin-top: -4%;
}

header {
    margin-bottom: -5%;
}